/* Tipografia */

@font-face {
  font-family: "MiFuente";
  src: url("../fonts/Ubuntu-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MiFuente";
  src: url("../fonts/Ubuntu-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MiFuente";
  src: url("../fonts/Ubuntu-Light.ttf") format("ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "MiFuente";
  src: url("../fonts/Ubuntu-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

/* Estilos */

* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  border-style: none;
  list-style: none;
  font-family: "MiFuente", sans-serif;
}

.span {
  color: #f55;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  height: calc(100vh - 80px);
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 25px 25px;
}

.form-div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.form-div label {
  font-size: 16px;
  font-weight: bold;
}

.form-div select {
  font-size: 16px;
  border: 1px solid #dadada;
  padding: 6px;
  border-radius: 5px;
}

.form-div select:focus {
  outline: none;
  border: 1px solid #717171;
}

.form-div .identidad {
  display: flex;
  gap: 10px;
}

#tipo-doc {
  width: 15%;
}

#cedula {
  width: 85%;
}

.content p a {
  color: rgb(29 78 216);
}

form button {
  background: rgb(29 78 216);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

form button:hover {
  background: rgb(59 130 246);
  cursor: pointer;
}

.form-div input {
  outline: none;
  padding: 6px;
  font-size: 16px;
  color: #333;
  border: 1px solid #dadada;
  border-radius: 5px;
}

.form-div input:focus {
  border: 1px solid #717171;
}

#form-div-tlf {
  display: flex;
  column-gap: 10px;
}

#form-div-tlf input[type="text"] {
  width: 10%;
}

#form-div-tlf input[type="number"] {
  width: calc(90% - 10px);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  color: #d93a3a;
  font-size: 14px;
}

#btn_delete {
  width: 50%;
  background: rgb(185, 28, 28);
}

#btn_delete:hover {
  background: rgb(239 68 68);
}
