/* Main */

.main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 10%;
}

.main-f {
  width: 35%;
  height: calc(100vh - 80px);
  padding: 20px 20px;
}

.main-filtros {
  width: 35%;
  height: calc(100vh - 80px);
  padding: 20px 20px;
  position: fixed;
}

.main-contenido {
  padding: 20px 20px;
  width: 100%;
}

/* Filtro - seccion 1 main */

.filtro {
  border: 1px solid #d9d9d9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.div-filtro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filtro h4 {
  font-size: 20px;
}

.filtro input {
  font-size: 16px;
  border: 1px solid #d9d9d9;
  padding: 12px;
  border-radius: 5px;
  color: #444;
}

.filtro input:focus {
  outline: none;
  border: 1px solid #c8c8c8;
}

.filtro select {
  border: 1px solid #d9d9d9;
  padding: 12px;
  font-size: 16px;
}

.filtro select:focus {
  outline: none;
}

.filtro option {
  font-size: 16px;
  padding: 10px;
}

.filtro-moneda {
  display: flex;
  flex-direction: column;
}

.filtro-moneda label {
  font-size: 16px;
}

/* Contenido - seccion 2 main */

.buscador {
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
  margin-bottom: 20px;
}

.buscador:hover {
  border: 1px solid #d0d0d0;
}

.buscador-lupa {
  width: 20px;
  height: 20px;
}

.buscador-input {
  height: 30px;
  width: 98%;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.buscador-input:focus {
  outline: none;
}

/* Pruductos */

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  width: 100%;
}

/* Lista de Carrito de Compras */

.main-carrito {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 10%;
}

.ul-carrito {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.element_carrtio {
  display: flex;
  align-items: center;
  gap: 25px;
  width: min(100%, 35rem);
  background-color: #ffffff;
  border: 1px solid #e0e1eb;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.element_carrtio img {
  width: 90px;
  height: 90px;
  margin: 1px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.element_carrtio .div-cant div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element_carrtio .div-cant input {
  width: 20px;
  text-align: center;
}
.element_carrtio .div-cant button {
  width: 20px;
  height: 20px;
  font-weight: bold;
  text-align: center;
}

.btn_ {
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
}

.btn__ {
  background-color: #55f;
}

.btn_s {
  color: white;
  background-color: #44d;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
}

.total {
  margin-top: 20px;
}

.total h3 b {
  color: #252329;
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: #28a745;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 768px) {
}
